# Ignore node_modules
node_modules
npm-debug.log

# Ignore dist
dist
dist-ssr

# Ignore IDE files
.vscode
.idea
*.swp
*.swo

# Ignore env files
.env
.env.local
.env.production

# Ignore OS files
.DS_Store
Thumbs.db
